header {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 100;
  padding: 20px 0;
  color: #fff;
  &.page-header {
    border-bottom: 1px solid #fff;
  }
  .header-container {
    display: flex;
    align-items: center;
    .header-menu {
      opacity: 0;
      transform: translate(0, 30px);
      transition: 0.5s all 0.5s;

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-right: 90px;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-transform: uppercase;
            color: #fff;
            font-size: 19px;
            line-height: 22px;
            font-family: $font;
            font-weight: 900;
          }
        }
      }
      flex: 0 0 48%;
    }
    .header-logo {
      opacity: 0;
      transform: translate(0, 30px);
      transition: 0.5s all 0.5s;
      a {
        display: block;
        width: 77px;
        height: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &.init {
    .header-logo,
    .header-container .header-menu {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
