.home-collage {
  .collage-container {
    position: relative;
    width: 100%;
    height: 865px;
    overflow: hidden;
    @include mobile() {
      height: 97vw;
    }
    > div {
      position: absolute;
      opacity: 0;
      transition-property: all;
      transition-duration: 1s;
      img {
        width: 100%;
        height: 100%;
      }
      &:nth-child(1) {
        width: 752px;
        height: 307px;
        top: 0;
        left: 0;
        transition-delay: 1.3s;
        @include mobile() {
          width: 34vw;
          height: 19vw;
          top: 0;
          left: 0;
        }
      }
      &:nth-child(2) {
        width: 425px;
        height: 592px;
        top: 0;
        left: 752px;
        transition-delay: 0.5s;
        @include mobile() {
          width: 31.5vw;
          height: 67vw;
          top: 0;
          left: 34vw;
        }
      }
      &:nth-child(3) {
        width: 373px;
        height: 292px;
        top: 0;
        left: 1177px;
        transition-delay: 0.9s;
        @include mobile() {
          width: 34.5vw;
          height: 19vw;
          top: 0;
          left: 65.5vw;
        }
      }
      &:nth-child(4) {
        width: 374px;
        height: 292px;
        top: 0;
        left: 1550px;
        transition-delay: 0.7s;
        @include mobile() {
          top: 19vw;
          left: 65.5vw;
          width: 34.5vw;
          height: 23vw;
        }
      }
      &:nth-child(5) {
        width: 374px;
        height: 290px;
        top: 307px;
        left: 0;
        transition-delay: 1.4s;
        @include mobile() {
          left: 17vw;
          top: 19vw;
          width: 17vw;
          height: 27vw;
        }
      }
      &:nth-child(6) {
        width: 378px;
        height: 562px;
        top: 307px;
        left: 374px;
        transition-delay: 1.1s;
        @include mobile() {
          left: 0;
          top: 46vw;
          width: 34vw;
          height: 51vw;
        }
      }
      &:nth-child(7) {
        width: 376px;
        height: 273px;
        left: 0;
        top: 597px;
        transition-delay: 1s;
        @include mobile() {
          left: 0;
          top: 19vw;
          width: 17vw;
          height: 27vw;
        }
      }
      &:nth-child(8) {
        width: 432px;
        height: 272px;
        left: 752px;
        top: 592px;
        transition-delay: 1.2s;
        @include mobile() {
          left: 34vw;
          top: 67vw;
          width: 31.5vw;
          height: 30vw;
        }
      }
      &:nth-child(9) {
        width: 746px;
        height: 577px;
        top: 292px;
        left: 1177px;
        transition-delay: 1.3s;
        @include mobile() {
          left: 65.5vw;
          top: 42vw;
          width: 34.5vw;
          height: 55vw;
        }
      }
    }
  }
  &.init {
    .collage-container {
      > div {
        opacity: 1;
      }
    }
  }
}

.home-video {
  // height: 657px;
  width: 100%;
  opacity: 0;
  transition: all 0.8s;
  position: relative;
  padding-bottom: 56.2%;
  @media(min-width:1921px){
    padding-bottom: calc(56.2% - (100vw - 1910px) / 2);
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.init {
    opacity: 1;
  }
  @include mobile() {
    opacity: 1;
    // height: 64vw;
  }
}

.home-about {
  padding-top: 55px;
  padding-left: 103px;
  padding-right: 20px;
  padding-bottom: 160px;
  position: relative;
  @include mobile() {
    padding-top: 13vw;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-bottom: 16vw;
  }
  .vertical-line {
    
    &:nth-child(1) {
      left: 138px;
      height: 1190px;
      @include mobile() {
        display: none;
      }
    }
    &:nth-child(2) {
      left: 825px;
      @include mobile() {
        display: none;
      }
    }
    &:nth-child(3) {
      left: 1105px;
      @include mobile() {
        left:3.5vw;
        top: 0;
        bottom: 0;
      }
    }
    &:nth-child(4) {
      left: 1587px;
      @include mobile() {
        left:unset;
        right: 3.5vw;
        top: 0;
        bottom: 0;
      }
    }
  }
  &-container {
    display: flex;
    position: relative;
    @include mobile() {
      flex-direction: column;
    }

    .kinjaz-member {
      position: absolute;
      left: 760px;
      top: 0px;
      width: 620px;
      bottom: 0;
      height: 100%;
      z-index: 5;
      transform: rotate(4deg) scale(0.7);
      transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1),
        transform 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      opacity: 0;
      @include mobile() {
        transform: rotate(4deg) scale(0.95);
        height: 180vw;
        top: 134vw;
        width: 70vw;
        left: 0;
      }

      &.init {
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        animation: float 10s cubic-bezier(0.4, 0.1, 0.3, 0.9) infinite;
      }
    }
    .col {
      &.col1 {
        flex: 0 0 100%;
        max-width: 1125px;
        .content {
          padding-left: 80px;
          width: 580px;
          @include mobile() {
            padding-left: 0;
            width: 100%;
          }
        }
        img {
          width: 213px;
          height: auto;
          opacity: 0;
          transition: all 0.5s;
          @include mobile() {
            margin: auto;
            width: 24vw;
            display: block;
          }
          &.init {
            opacity: 1;
          }
        }
        h1 {
          font-size: 74px;
          line-height: 71px;
          font-family: $font-condensed;
          font-weight: 400;
          margin: 210px 0px 45px 0;
          padding-bottom: 45px;
          width: 240px;
          letter-spacing: 7px;
          position: relative;
          opacity: 0;
          transition: all 1s;
          @include mobile() {
            margin: 15vw 0 8vw;
            width: 100%;
            text-align: center;
            font-size: 11vw;
            letter-spacing: 1vw;
            line-height: 14vw;
            padding-bottom: 3vw;
          }

          &:after {
            content: " ";
            height: 1px;
            width: 0%;
            left: 0;
            bottom: 0;
            background: $red;
            position: absolute;
            transition: 2s all 0s;
          }
          strong {
            font-weight: 700;
          }
          &.init {
            opacity: 1;
            &:after {
              width: 100%;
            }
          }
        }
        p {
          margin: 0 0 210px 0;
          overflow: hidden;
          @include mobile() {
            margin: 0 0 20vw 0;
          }

          span {
            display: block;
            transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
            transform: translateY(-100%);
          }
          &.init {
            span {
              transform: translateY(0%);
            }
          }
        }
        .btn-primary {
          transform: translate(0, -20px);
          opacity: 0;
          transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
          @include mobile() {
            margin-left: 11vw;
          }

          &.init {
            transform: translate(0, 0);
            opacity: 1;
          }
        }
      }
      &.col2 {
        flex: 0 0 100%;
        max-width: 334px;
        h2 {
          font-size: 174px;
          line-height: 167px;
          font-family: $font;
          font-weight: 900;
          writing-mode: tb-rl;
          text-align: right;
          white-space: nowrap;
          letter-spacing: 5px;
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #fff;
          transform: rotate(-180deg);
          margin: 180px 0px 0px 0;
          position: relative;
          z-index: 1;
          opacity: 0;
          top: 50px;
          transition: all 1s;
          @include mobile() {
            font-size: 18vw;
            line-height: 16vw;
            letter-spacing: 0.8vw;
            margin: 31vw 0px 0px 0;
            top: 0;
            left: 43vw;
          }

          &.init {
            opacity: 1;
            top: 0;
          }
        }
      }
      &.col3 {
        padding-left: 45px;
        padding-top: 100px;
        flex: 0 0 100%;
        max-width: 324px;
        @include mobile() {
          padding-left: 0;
          padding-right: 0;
          padding-top: 50vw;
          max-width: 100%;
        }

        h3 {
          margin: 0;
          font-size: 38px;
          font-family: $font-condensed;
          letter-spacing: 4px;
          font-weight: 400;
          text-transform: uppercase;
          opacity: 0;
          transition: all 0.5s;
          text-align: center;
          @include mobile() {
            font-size: 7vw;
            margin-left: 16vw;
            letter-spacing: 1.3vw;
          }

          &.init {
            opacity: 1;
          }
        }
        .circles {
          display: flex;
          justify-content: center;
          margin-top: 70px;
          margin-bottom: 40px;
          opacity: 0;
          transition: all 0.5s;
          @include mobile() {
            margin-left: 16vw;
            margin-top: 12vw;
            margin-bottom: 8vw;
            justify-content: flex-start;
          }

          &.init {
            opacity: 1;
          }
          > div {
            margin: 0 20px;
            height: 617px;
            width: 70px;
            flex: 0 0 70px;
            background-position: 0px -20px;
            background-size: 70px 108px;
            background-image: url("../images/dot.svg");
            @include mobile() {
              margin: 0 5vw;
              height: 116vw;
              width: 13vw;
              flex: 0 0 13vw;
              background-position: 0px -3vw;
              background-size: 13vw 20.5vw;
            }
          }
        }
        p {
          opacity: 0;
          transition: all 0.5s;
          &.init {
            opacity: 1;
          }
        }
        .partners {
          margin-top: 60px;
          display: flex;
          justify-content: center;
          opacity: 0;
          transition: all 0.5s;
          @include mobile() {
            margin-top: 6vw;
          }

          &.init {
            opacity: 1;
          }
          a {
            display: block;
            margin: 0 20px;
            @include mobile() {
              margin: 0 4vw;
            }
            img {
              width: 83px;
              height: auto;
              @include mobile() {
                width: 16vw;
              }
            }
          }
        }
      }
    }
  }
}

.home-leadership {
  background: $red;
  padding: 40px 0 45px;
  @include mobile() {
    padding: 8vw 0 4vw;
  }

  .container {
    position: relative;
  }
  h2 {
    font-size: 81px;
    line-height: 78px;
    font-family: $font;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 3px;
    overflow: hidden;
    @include mobile() {
      font-size: 9vw;
      line-height: 10vw;
      -webkit-text-stroke-width: 1px;
      letter-spacing: 0.5vw;
      padding-left: 4vw;
    }

    span {
      display: block;
      transform: translateY(-100%);
      transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &.init {
      span {
        transform: translateY(0%);
      }
    }
  }
  .team-list {
    display: flex;
    padding-left: 5px;
    @include mobile() {
      flex-wrap: wrap;
      padding-left: 0;
      justify-content: center;
    }
    .team-list-item {
      flex: 0 0 310px;
      margin-right: 24px;
      @include mobile() {
        flex: 0 0 35vw;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-bottom: 5vw;
      }
      .avatar {
        position: relative;
        img {
          opacity: 0;
          width: 286px;
          margin: auto;
          display: block;
          position: relative;
          z-index: 5;
          @include mobile() {
            width: 32vw;
            transition: 1s all 0s ease;
          }
        }
        &:before {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          z-index: 1;
          height: 0;
        }
      }
      h3 {
        font-size: 42px;
        text-transform: uppercase;
        font-family: $font;
        font-weight: 900;
        margin: 15px 0 8px 0;
        letter-spacing: 4px;
        overflow: hidden;
        padding: 5px 0;
        span {
          transform: translateY(-140%);
          display: block;
        }
        @include mobile() {
          font-size: 5vw;
          line-height: 6vw;
          margin: 1.5vw 0 0 0;
          letter-spacing: 0.3vw;
          padding: 0;
        }
      }
      h4 {
        font-size: 33px;
        text-transform: uppercase;
        font-family: $font-condensed;
        font-weight: 400;
        margin: 0;
        letter-spacing: 3px;
        overflow: hidden;
        span {
          transform: translateY(-140%);
          display: block;
        }
        @include mobile() {
          font-size: 4vw;
          line-height: 5vw;
          letter-spacing: 0.2vw;
        }
      }
      @include desktop() {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            .avatar {
              img {
                transition: 1s all #{($i * 0.2) + 0.3}s ease;
              }
              &:before {
                transition: 0.5s all #{$i * 0.2}s ease;
              }
            }
            h3 {
              span {
                transition: 0.5s all #{($i * 0.2) + 0.6}s ease;
              }
            }
            h4 {
              span {
                transition: 0.5s all #{($i * 0.2) + 0.8}s ease;
              }
            }
          }
        }
      }
      &.init {
        .avatar {
          img {
            opacity: 1;
          }
          &:before {
            height: 270px;
            @include mobile() {
              height: 30vw;
            }
          }
        }
        h4,
        h3 {
          span {
            transform: translateY(0%);
          }
        }
      }
    }
  }
}

.home-portfolio {
  background: url("../images/Home_Page/home-background-min.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  padding-bottom: 335px;
  position: relative;
  @include mobile() {
    padding-bottom: 19vw;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 0 30vw;
  }

  .portfolio-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include mobile() {
      flex-direction: column;
    }

    .yz-animate {
      h3 {
        transition: 0.5s all 0s;
      }
      img {
        transition: 0.5s all 0.5s;
      }
      h3,
      img {
        opacity: 0;
        transform: translate(0, 30px);
      }
      .btn-primary {
        opacity: 0;
        transform: translate(0, -30px);
        transition: 0.5s all 1s;
      }
      &.init {
        h3,
        img,
        .btn-primary {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
  h2 {
    position: absolute;
    text-transform: uppercase;
    font-size: 174px;
    line-height: 167px;
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    text-align: right;
    white-space: nowrap;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $red;
    transform: rotate(-180deg);
    z-index: 5;
    top: 325px;
    left: -40px;
    span {
      display: block;
    }
    @include mobile() {
      font-size: 18vw;
      line-height: 17vw;
      top: 36vw;
      left: -8vw;
      letter-spacing: 0.7vw;
    }
  }
  h3 {
    color: transparent;
    font-size: 96px;
    line-height: 98px;
    margin: 0;
    font-family: $font;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    position: relative;
    z-index: 2;
    letter-spacing: 3px;
    span {
      display: block;
    }
    @include mobile() {
      font-size: 9.5vw;
      line-height: 9.5vw;
      -webkit-text-stroke-width: 1px;
      letter-spacing: 0.5vw;
    }
  }
  .btn-primary {
    @include mobile() {
      font-size: 3vw;
      padding: 2vw 12vw 2vw 7vw;
      letter-spacing: 0.5vw;
    }
  }
  .dance {
    flex: 0 0 100%;
    max-width: 900px;
    padding-top: 155px;
    padding-left: 340px;
    position: relative;
    @include mobile() {
      max-width: 100%;
      padding-top: 18vw;
      padding-left: 34vw;
    }

    .parallax {
      position: relative;
      z-index: 5;
    }
    &:before {
      content: " ";
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      width: 900px;
      height: 600px;
      z-index: 1;
      @include mobile() {
        width: 100vw;
        height: 75vw;
      }
    }
    h3 {
      -webkit-text-stroke-color: #000;
      margin-bottom: 30px;
      @include mobile() {
        margin-bottom: 5vw;
      }
    }
    img {
      position: relative;
      z-index: 5;
      width: 561px;
      height: auto;
      @include mobile() {
        width: 69vw;
        margin-left: 4vw;
      }
    }
    .btn-primary {
      top: -36px;
      z-index: 50;
      left: 90px;
      @include mobile() {
        top: -6vw;
        left: -6vw;
      }
    }
  }
  .kinjabang-noodles {
    flex: 0 0 100%;
    max-width: calc(100% - 900px);
    text-align: center;
    padding-top: 122px;
    @include mobile() {
      max-width: 100vw;
      padding-top: 23vw;
    }

    h3 {
      -webkit-text-stroke-color: #fff;
      max-width: 560px;
      margin: 0 auto -27px;
      top: -47px;
      //   margin-bottom: 30px;
      @include mobile() {
        top: -7vw;
        max-width: 100vw;
        margin: 0 auto;
      }
    }
    img {
      height: auto;
      &.top {
        width: 558px;
        @include mobile() {
          width: 68vw;
        }
      }
      &.left {
        width: 223px;
        margin-right: 56px;
        // margin-left: 190px;
        @include mobile() {
          width: 26vw;
          margin-right: 6.5vw;
        }
      }
      &.right {
        margin-left: 56px;
        width: 223px;
        @include mobile() {
          width: 26vw;
          margin-left: 6.5vw;
        }
      }
    }
    .btn-primary {
      top: -30px;
      left: -20px;
      padding-right: 140px;
      @include mobile() {
        top: -6vw;
        left: -1vw;
        padding-right: 18vw;
      }
    }
  }
  .aesthetik {
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 210px;
    padding-top: 30px;
    @include mobile() {
      text-align: center;
      padding-right: 0;
      padding-top: 10vw;
    }

    h3 {
      -webkit-text-stroke-color: #fff;
      position: absolute;
      top: 280px;
      left: 610px;
      @include mobile() {
        top: 10vw;
        left: 23vw;
      }
    }
    .btn-primary {
      top: -37px;
      left: 70px;
      @include mobile() {
        top: -10vw;
        left: 1vw;
      }
    }
    img {
      width: 795px;
      height: auto;
      @include mobile() {
        width: 78vw;
        margin: 6vw auto;
      }
    }
  }
  .creative-direction {
    position: relative;
    top: -235px;
    padding-left: 224px;
    max-width: 1020px;
    flex: 0 0 100%;
    margin-bottom: -85px;
    @include mobile() {
      top: -10vw;
      padding-left: 11vw;
      max-width: 100vw;
      flex: 0 0 100%;
    }

    h3 {
      -webkit-text-stroke-color: #fff;
      max-width: 500px;
      position: relative;
      top: 55px;
      @include mobile() {
        top: 4vw;
        left: -0.2vw;
      }
    }
    img {
      width: 795px;
      height: auto;
      @include mobile() {
        width: 78vw;
      }
    }
    .btn-primary {
      right: -320px;
      bottom: 200px;
      position: absolute;
      @include mobile() {
        right: 32vw;
        bottom: -5vw;
      }
    }
  }
  .production {
    padding-left: 287px;
    flex: 0 0 100%;
    max-width: 900px;
    @include mobile() {
      max-width: 100vw;
      padding-left: 0;
      text-align: center;
    }

    h3 {
      -webkit-text-stroke-color: #fff;
      margin-bottom: 20px;
      @include mobile() {
        margin: 34vw 0vw 5vw 0;
        text-align: center;
      }
    }
    img {
      width: 564px;
      height: auto;
      margin-left: 50px;
      @include mobile() {
        margin-left: 0;
        width: 66vw;
      }
    }
    .btn-primary {
      top: -24px;
      left: -60px;
      @include mobile() {
        top: -6vw;
        left: 0;
      }
    }
  }
  .new-age-media {
    flex: 0 0 100%;
    max-width: calc(100% - 900px);
    padding-left: 120px;
    padding-top: 10px;
    position: relative;
    @include mobile() {
      max-width: 100vw;
      padding-left: 0;
      padding-top: 0;
    }

    .parallax {
      position: relative;
      z-index: 5;
    }
    &:before {
      content: " ";
      position: absolute;
      left: 120px;
      background: #fff;
      top: 24px;
      right: 0;
      height: 410px;
      z-index: 1;
      @include mobile() {
        top: 37vw;
        height: 59vw;
        left: 0;
      }
    }
    img {
      position: relative;
      z-index: 5;
      width: 650px;
      height: auto;
      @include mobile() {
        width: 70vw;
      }
    }
    h3 {
      margin: 80px 0 45px 57px;
      -webkit-text-stroke-color: #000;
      @include mobile() {
        -webkit-text-stroke-color: #fff;
        margin: 8vw 0 6vw;
        text-align: center;
      }
    }
    .btn-primary {
      top: -30px;
      left: 120px;
      position: relative;
      z-index: 5;
      @include mobile() {
        top: -4vw;
        left: 26vw;
        padding-right: 16vw;
        border-color: #000;
        color: #000;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .home-collage {
    .collage-container {
      height: 45.05vw;

      > div {
        img {
        }
        &:nth-child(1) {
          width: 39.17vw;
          height: 15.99vw;
        }
        &:nth-child(2) {
          width: 22.14vw;
          height: 30.83vw;
          left: 39.17vw;
        }
        &:nth-child(3) {
          width: 19.43vw;
          height: 15.21vw;
          left: 61.3vw;
        }
        &:nth-child(4) {
          width: 19.48vw;
          height: 15.21vw;
          left: 80.73vw;
        }
        &:nth-child(5) {
          width: 19.48vw;
          height: 15.1vw;
          top: 15.99vw;
        }
        &:nth-child(6) {
          width: 19.69vw;
          height: 29.27vw;
          top: 15.99vw;
          left: 19.48vw;
        }
        &:nth-child(7) {
          width: 19.58vw;
          height: 14.22vw;
          top: 31.09vw;
        }
        &:nth-child(8) {
          width: 22.5vw;
          height: 14.17vw;
          left: 39.17vw;
          top: 30.83vw;
        }
        &:nth-child(9) {
          width: 38.85vw;
          height: 30.05vw;
          top: 15.21vw;
          left: 61.3vw;
        }
      }
    }
  }

  // .home-video {
  //   height: 34.22vw;
  // }

  .home-about {
    padding-top: 2.86vw;
    padding-left: 5.36vw;
    padding-right: 1.04vw;
    padding-bottom: 8.33vw;

    .vertical-line {
      &:nth-child(1) {
        left: 7.19vw;
        height: 61.98vw;
      }
      &:nth-child(2) {
        left: 42.97vw;
      }
      &:nth-child(3) {
        left: 57.55vw;
      }
      &:nth-child(4) {
        left: 82.66vw;
      }
    }
    &-container {
      .kinjaz-member {
        left: 39.58vw;
        top: 1px;
        width: 32.29vw;
        transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
      }
      .col {
        &.col1 {
          max-width: 58.59vw;
          .content {
            padding-left: 4.17vw;
            width: 30.21vw;
          }
          img {
            width: 11.09vw;
          }
          h1 {
            font-size: 3.85vw;
            line-height: 3.7vw;
            margin: 10.94vw 1px 2.34vw 0;
            padding-bottom: 2.34vw;
            width: 12.5vw;
            letter-spacing: 0.36vw;

            &:after {
              height: 1px;
            }
          }
          p {
            margin: 0 0 10.94vw 0;
          }
          .btn-primary {
            transform: translate(0, -1.04vw);
          }
        }
        &.col2 {
          max-width: 17.4vw;
          h2 {
            font-size: 9.06vw;
            line-height: 8.7vw;
            letter-spacing: 0.26vw;
            -webkit-text-stroke-width: 1px;
            margin: 9.38vw 1px 1px 0;
            top: 2.6vw;

            &.init {
            }
          }
        }
        &.col3 {
          padding-left: 2.34vw;
          padding-top: 5.21vw;
          max-width: 16.88vw;
          h3 {
            font-size: 1.97vw;
            letter-spacing: 0.21vw;
          }
          .circles {
            margin-top: 3.65vw;
            margin-bottom: 2.08vw;

            > div {
              margin: 0 1.04vw;
              height: 32.14vw;
              width: 3.65vw;
              flex: 0 0 3.65vw;
              background-position: 0px -1.04vw;
              background-size: 3.65vw 5.63vw;
             
            }
          }

          .partners {
            margin-top: 3.13vw;

            a {
              margin: 0 1.04vw;

              img {
                width: 4.32vw;
              }
            }
          }
        }
      }
    }
  }

  .home-leadership {
    padding: 2.08vw 0 2.34vw;

    h2 {
      font-size: 4.22vw;
      line-height: 4.06vw;
      -webkit-text-stroke-width: 1px;
      letter-spacing: 0.16vw;
    }
    .team-list {
      padding-left: 0.26vw;

      .team-list-item {
        flex: 0 0 16.15vw;
        margin-right: 1.25vw;

        .avatar {
          img {
            width: 14.9vw;
          }
        }
        h3 {
          font-size: 2.19vw;
          margin: 0.78vw 0 0.42vw 0;
          letter-spacing: 0.21vw;
          padding: 0.26vw 0;
        }
        h4 {
          font-size: 1.72vw;
          letter-spacing: 0.16vw;
        }

        &.init {
          .avatar {
            &:before {
              height: 14.06vw;
            }
          }
        }
      }
    }
  }

  .home-portfolio {
    padding-bottom: 17.45vw;

    .portfolio-container {
      .yz-animate {
        h3,
        img {
          transform: translate(0, 1.56vw);
        }
        .btn-primary {
          transform: translate(0, -1.56vw);
        }
      }
    }
    h2 {
      font-size: 9.06vw;
      line-height: 8.7vw;
      letter-spacing: 0.26vw;
      -webkit-text-stroke-width: 1px;
      top: 16.93vw;
      left: -2.08vw;
    }
    h3 {
      font-size: 5vw;
      line-height: 5.1vw;
      -webkit-text-stroke-width: 1px;
      letter-spacing: 0.16vw;
    }

    .dance {
      max-width: 46.88vw;
      padding-top: 8.07vw;
      padding-left: 17.71vw;

      &:before {
        width: 46.88vw;
        height: 31.25vw;
      }
      h3 {
        margin-bottom: 1.56vw;
      }
      img {
        width: 29.22vw;
      }
      .btn-primary {
        top: -1.88vw;
        left: 4.69vw;
      }
    }
    .kinjabang-noodles {
      max-width: calc(100% - 46.88vw);
      padding-top: 6.35vw;

      h3 {
        max-width: 29.17vw;
        margin: 0 auto -1.41vw;
        top: -2.45vw;
      }
      img {
        &.top {
          width: 29.06vw;
        }
        &.left {
          width: 11.61vw;
          margin-right: 2.92vw;
          // margin-left: 9.9vw;
        }
        &.right {
          margin-left: 2.92vw;
          width: 11.61vw;
        }
      }
      .btn-primary {
        top: -1.56vw;
        left: -1.04vw;
        padding-right: 7.29vw;
      }
    }
    .aesthetik {
      padding-right: 10.94vw;
      padding-top: 1.56vw;

      h3 {
        top: 14.58vw;
        left: 31.77vw;
      }
      .btn-primary {
        top: -1.93vw;
        left: 3.65vw;
      }
      img {
        width: 41.41vw;
      }
    }
    .creative-direction {
      top: -12.24vw;
      padding-left: 11.67vw;
      max-width: 53.13vw;
      margin-bottom: -4.43vw;

      h3 {
        max-width: 26.04vw;
        top: 2.86vw;
      }
      img {
        width: 41.41vw;
      }
      .btn-primary {
        right: -16.67vw;
        bottom: 10.42vw;
      }
    }
    .production {
      padding-left: 14.95vw;
      max-width: 46.88vw;

      h3 {
        margin-bottom: 1.04vw;
      }
      img {
        width: 29.38vw;
        margin-left: 2.6vw;
      }
      .btn-primary {
        top: -1.25vw;
        left: -3.13vw;
      }
    }
    .new-age-media {
      max-width: calc(100% - 46.88vw);
      padding-left: 6.25vw;
      padding-top: 0.52vw;

      &:before {
        left: 6.25vw;
        top: 1.25vw;
        height: 21.35vw;
      }
      img {
        width: 33.85vw;
      }
      h3 {
        margin: 4.17vw 0 2.34vw 2.97vw;
      }
      .btn-primary {
        top: -1.56vw;
        left: 6.25vw;
      }
    }
  }
}
